@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
:root {
  --blue-100: #e2f1fd;
  --blue-200: #a4d6f9;
  --blue-300: #88c8f7;
  --blue-400: #62b7f4;
  --blue-500: #1192ee;
  --blue-600: #0f80d2;
  --blue-700: #0c6cb0;
  --blue-800: #063251;
  --blue-900: #162936;
  --red-100: #fbd5dc;
  --red-200: #f6acb9;
  --red-300: #f28799;
  --red-400: #ed5e76;
  --red-500: #e93553;
  --red-600: #cf1736;
  --red-700: #9c1128;
  --red-800: #3c060f;
  --red-900: #200308;
  --green-100: #def7f0;
  --green-200: #a4ead4;
  --green-300: #72dfbe;
  --green-400: #44d5a7;
  --green-500: #16ca91;
  --green-600: #12a173;
  --green-700: #0d7854;
  --green-800: #063728;
  --green-900: #052e21;
  --yellow-100: #fff6e6;
  --yellow-200: #ffeac7;
  --yellow-300: #ffdb9e;
  --yellow-400: #ffce7a;
  --yellow-500: #ffba42;
  --yellow-600: #e5a638;
  --yellow-700: #b4822d;
  --yellow-800: #3d2c0f;
  --yellow-900: #332000;
  --gray-100: #fbfdfe;
  --gray-200: #f9fafb;
  --gray-300: #ecf0f3;
  --gray-400: #c5cdd3;
  --gray-500: #8e9ba4;
  --gray-600: #687782;
  --gray-700: #273b49;
  --gray-800: #28353e;
  --gray-900: #192229; }

.u-pallete-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-xs-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-xs-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-xs-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-xs-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-xs-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-sm-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-sm-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-sm-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-sm-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-sm-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-md-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-md-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-md-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-md-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-md-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-lg-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-lg-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-lg-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-lg-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-lg-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-xl-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-xl-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-xl-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-xl-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-xl-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

.u-pallete-xxl-blue {
  --color-100: var(--blue-100);
  --color-200: var(--blue-200);
  --color-300: var(--blue-300);
  --color-400: var(--blue-400);
  --color-500: var(--blue-500);
  --color-600: var(--blue-600);
  --color-700: var(--blue-700);
  --color-800: var(--blue-800);
  --color-900: var(--blue-900); }

.u-pallete-xxl-red {
  --color-100: var(--red-100);
  --color-200: var(--red-200);
  --color-300: var(--red-300);
  --color-400: var(--red-400);
  --color-500: var(--red-500);
  --color-600: var(--red-600);
  --color-700: var(--red-700);
  --color-800: var(--red-800);
  --color-900: var(--red-900); }

.u-pallete-xxl-green {
  --color-100: var(--green-100);
  --color-200: var(--green-200);
  --color-300: var(--green-300);
  --color-400: var(--green-400);
  --color-500: var(--green-500);
  --color-600: var(--green-600);
  --color-700: var(--green-700);
  --color-800: var(--green-800);
  --color-900: var(--green-900); }

.u-pallete-xxl-yellow {
  --color-100: var(--yellow-100);
  --color-200: var(--yellow-200);
  --color-300: var(--yellow-300);
  --color-400: var(--yellow-400);
  --color-500: var(--yellow-500);
  --color-600: var(--yellow-600);
  --color-700: var(--yellow-700);
  --color-800: var(--yellow-800);
  --color-900: var(--yellow-900); }

.u-pallete-xxl-gray {
  --color-100: var(--gray-100);
  --color-200: var(--gray-200);
  --color-300: var(--gray-300);
  --color-400: var(--gray-400);
  --color-500: var(--gray-500);
  --color-600: var(--gray-600);
  --color-700: var(--gray-700);
  --color-800: var(--gray-800);
  --color-900: var(--gray-900); }

/* Importación de fuente */
:root {
  --z-negative: -10;
  --z-normal: 10;
  --z-appbar: 100;
  --z-drawer: 200;
  --z-modal: 300;
  --z-snackbar: 400;
  --z-tooltip: 500;
  --width-scrollbar: 0.6rem;
  --border-scrollbar: 0.5rem;
  --l-unit: 0.5rem;
  --gap: 1rem;
  --num-columns: 4;
  --grid-gutter: 20px;
  --padding-container: 16px;
  --topnav-height: 60px;
  --bottomnav-height: 60px;
  --breadcrumb-height: 25.6px;
  --sidebar-width: 300px;
  --sidebar-width-collapse: 70px;
  --font-size-icon-main: 2.5rem;
  --font-size-icon-second: 1.5rem;
  --icon-small: 1.25rem;
  --icon-normal: 1.5rem;
  --icon-large: 2rem;
  --icon-xlarge: 2.5rem;
  --border-radius: 10px;
  --transition-cubic-scale: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-cubic-translate: cubic-bezier(0, 0, 0.2, 1);
  --transition-cubic-transform-origin: cubic-bezier(0.4, 0, 0.2, 1);
  --heading-font: Poppins, sans-serif;
  --body-font: Open Sans, sans-serif;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --heading-line-height: 1.3;
  --body-line-height: 1.6;
  --letter-spacing-heading: 0;
  --letter-spacing-body: 0;
  --big-font-size: calculate-rem(32px);
  --h1-font-size: calculate-rem(24px);
  --h2-font-size: calculate-rem(20px);
  --h3-font-size: calculate-rem(18px);
  --normal-font-size: calculate-rem(15px);
  --small-font-size: calculate-rem(13px);
  --smaller-font-size: calculate-rem(12px);
  --color-white: white;
  --color-black: black;
  --title-color: var(--gray-700);
  --text-color: var(--gray-600);
  --light-text-color: var(--gray-500);
  --lighter-text-color: var(--gray-400);
  --border-color: var(--gray-300);
  --divider-color: var(--gray-500);
  --shadow-color-1: var(--gray-500);
  --shadow-color-2: var(--gray-400);
  --shadow-color-3: var(--gray-400);
  --bg-input-color: var(--gray-200);
  --main-bg-color: var(--gray-300);
  --second-bg-color: var(--gray-100);
  --box-shadow: var(--gray-200) 0px 8px 16px;
  --main-color-blue: var(--blue-500);
  --second-color-blue: var(--blue-400);
  --terciary-color-blue: var(--blue-300);
  --main-color-red: var(--red-500);
  --second-color-red: var(--red-400);
  --terciary-color-red: var(--red-300);
  --main-color-cyan: #11d0cc;
  --second-color-cyan: #26e8e5;
  --terciary-color-cyan: #a3f5f4;
  --main-color-green: var(--green-600);
  --second-color-green: var(--green-500);
  --terciary-color-green: var(--green-300);
  --main-color-orange: #d47d02;
  --second-color-orange: #fb9d18;
  --terciary-color-orange: #fb9d18;
  --primary-light: var(--blue-500);
  --primary-main: var(--blue-600);
  --primary-dark: var(--blue-700);
  --secondary-light: var(--gray-400);
  --secondary-main: var(--gray-500);
  --secondary-dark: var(--gray-600);
  --danger-light: var(--red-400);
  --danger-main: var(--red-500);
  --danger-dark: var(--red-600);
  --warning-light: var(--yellow-400);
  --warning-main: var(--yellow-500);
  --warning-dark: var(--yellow-600);
  --success-light: var(--green-400);
  --success-main: var(--green-500);
  --success-dark: var(--green-600);
  --info-light: var(--blue-400);
  --info-main: var(--blue-500);
  --info-dark: var(--blue-600);
  --scroll-bar-color: var(--gray-100);
  --scroll-thumb-color: var(--gray-400);
  --scroll-thumb-color-hover: var(--gray-500);
  --color: var(--red-500);
  --color-alt: var(--red-400);
  --hover-bg: var(--gray-300); }

@media screen and (min-width: 768px) {
  :root {
    --num-columns: 6;
    --padding-container: 20px; } }

@media screen and (min-width: 1024px) {
  :root {
    --num-columns: 12;
    --grid-gutter: 24px;
    --padding-container: 24px; } }

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: calculate-rem(40px);
    --h1-font-size: calculate-rem(32px); } }

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: calculate-rem(48px);
    --h1-font-size: calculate-rem(36px);
    --h2-font-size: calculate-rem(24px);
    --h3-font-size: calculate-rem(20px);
    --normal-font-size: calculate-rem(16px);
    --small-font-size: calculate-rem(14px);
    --smaler-font-size: calculate-rem(13px); } }

:root .theme-mode-dark {
  --title-color: var(--gray-300);
  --text-color: var(--gray-400);
  --light-text-color: var(--gray-500);
  --lighter-text-color: var(--gray-600);
  --border-color: var(--gray-700);
  --divider-color: var(--gray-200);
  --bg-input-color: var(--gray-700);
  --main-bg-color: var(--gray-900);
  --second-bg-color: var(--gray-800);
  --box-shadow: var(--gray-900) 0px 8px 16px;
  --scroll-bar-color: var(--gray-400);
  --scroll-thumb-color: var(--gray-500);
  --scroll-thumb-color-hover: var(--gray-200);
  --color: var(--red-500);
  --color-alt: var(--red-400);
  --primary-light: var(--blue-300);
  --primary-main: var(--blue-400);
  --primary-dark: var(--blue-500); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*:hover, *:active, *:focus, *:visited,
*::before:hover,
*::before:active,
*::before:focus,
*::before:visited,
*::after:hover,
*::after:active,
*::after:focus,
*::after:visited {
  outline: none; }

::-webkit-scrollbar {
  width: var(--width-scrollbar);
  background-color: var(--scroll-bar-color);
  border-radius: var(--border-scrollbar); }

@media screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    display: none; } }

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--border-scrollbar); }

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-hover); }

/* ---------------- TAGS (BASE) ---------------- */
html {
  scroll-behavior: smooth; }

body {
  font-family: var(--body-font);
  font-weight: var(--font-normal);
  line-height: var(--body-line-height);
  letter-spacing: var(--letter-spacing-body);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  background-color: var(--main-bg-color);
  min-height: 100vh; }

body.has-modal {
  overflow: hidden; }

@media screen and (min-width: 576px) {
  body.has-modal {
    padding-right: var(--width-scrollbar); } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--vertical-content-space); }

h1 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--h1-font-size);
  margin-bottom: calc(var(--vertical-content-space) * 1.5); }

h2 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-semi-bold);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--h2-font-size); }

h3 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--h3-font-size); }

h4 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--normal-font-size); }

h5 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--small-font-size); }

h6 {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-heading);
  color: var(--title-color);
  font-size: var(--smaller-font-size); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: var(--main-color); }

img {
  width: 100%;
  display: block;
  object-fit: cover; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none; }

button {
  cursor: pointer;
  color: var(--text-color); }

input {
  border: 2px solid var(--border-color); }

table {
  border-collapse: collapse; }

thead {
  background-color: var(--second-bg-color); }

tr {
  text-align: left; }

th,
td {
  text-transform: capitalize;
  padding: 12px 8px; }

/* ---------------- TAGS (BASE) ---------------- */
