/* Error: Custom property values may not be empty.
 *    ,
 * 17 |     #{$prefix}#{$property}#{$sufix}: #{$value};
 *    |                                      ^^^^^^^^^
 *    '
 *   src\bemit\tools\mixins\_generators.scss 17:38  mx-generate-declaration()
 *   src\bemit\tools\mixins\_generators.scss 98:5   @content
 *   src\bemit\tools\mixins\_breakpoints.scss 36:9  mx-from()
 *   src\bemit\tools\mixins\_generators.scss 97:3   mx-declaration-for-breakpoints()
 *   src\bemit\generics\_generics.scss 3:3          @import
 *   src\bemit\main.scss 13:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Custom property values may not be empty.\a    \2577 \a 17 \2502      #{$prefix}#{$property}#{$sufix}: #{$value};\d\a    \2502                                       ^^^^^^^^^\a    \2575 \a   src\\bemit\\tools\\mixins\\_generators.scss 17:38  mx-generate-declaration()\a   src\\bemit\\tools\\mixins\\_generators.scss 98:5   @content\a   src\\bemit\\tools\\mixins\\_breakpoints.scss 36:9  mx-from()\a   src\\bemit\\tools\\mixins\\_generators.scss 97:3   mx-declaration-for-breakpoints()\a   src\\bemit\\generics\\_generics.scss 3:3          @import\a   src\\bemit\\main.scss 13:9                       root stylesheet";
}
